{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<link rel="stylesheet" href="{{asset "css/swiper-bundle.min.css"}}">
<header class="site-header">
    <div class="container clear">
        <div class="header d-flex align-items-center">
            <div class="logo">
                <a href="{{@site.url}}"><img src="{{asset "svg/logo-white.svg"}}" alt="{{@site.title}}"></a>
            </div>
            {{> "site-nav"}}
        </div>
    </div>
</header>

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}
<main class="typography-post-main post-outer">
    <div class="swiper-container" id="typography-slider">
        {{content}}
        {{!-- If we need pagination --}}
        <div class="swiper-pagination"></div>
        <div class="navigation-wrap">
            <div class="swiper-button-next"></div>
        </div>
    </div>
</main>
{{/post}}

{{!-- The #contentFor helper here will send everything inside it up to the matching #block helper found in default.hbs --}}
{{#contentFor "scripts"}}
{{!-- <script src="{{asset  "js/swiper-bundle.min.js"}}"></script> --}}
<script src="{{asset "js/swiper.min.js"}}"></script>
<script>
    $(document).ready(function () {
        var mySwiper = new Swiper('#typography-slider', {
            // Optional parameters
            //direction: 'vertical',
            loop: true,
            effect: 'fade',
            autoHeight: true,
            speed: 1500, 
            //mousewheel: true,
            slidesPerView: 1,
             // If we need pagination
            pagination: {
                el: '.swiper-pagination',
            },
            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
            },

        });
        mySwiper.on('slideChange', function () {
            //console.log("I'm changing")
             if(this.activeIndex === 3) {
                 $("body").addClass("whiteslideActived");
                 $(".logo img").attr('src', '/assets/svg/logo.svg');
            }else{
                $("body").removeClass("whiteslideActived");
                $(".logo img").attr('src', '/assets/svg/logo-white.svg');
            }
        });
    });
</script>
{{/contentFor}}